.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding-top: 20px; /* Added to ensure the title isn't cut off */
  background: linear-gradient(to bottom right, green, black);
}

.game-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.game-title {
  font-size: 3em; /* Increased font size for better visibility */
  text-align: center;
  margin: 20px 0; /* Add margin to top and bottom */
  color: white;
  text-shadow: 0px 0px 5px #fff, 0px 0px 10px #fff, 0px 0px 15px #fff,
    0px 0px 20px #fff, 0px 0px 25px #fff, 0px 0px 30px #ff4da6,
    0px 0px 35px #ff4da6;
  animation: text-glow 2s ease-in-out infinite;
}

@keyframes text-glow {
  0%,
  100% {
    text-shadow: 0px 0px 5px #fff, 0px 0px 10px #fff, 0px 0px 15px #fff,
      0px 0px 20px #ff4da6, 0px 0px 25px #ff4da6, 0px 0px 30px #ff4da6,
      0px 0px 35px #ff4da6;
  }

  50% {
    text-shadow: 0px 0px 5px #fff, 0px 0px 10px #fff, 0px 0px 15px #fff,
      0px 0px 20px #ffffff, 0px 0px 30px #ffffff, 0px 0px 35px #ffffff;
  }
}

body {
  color: white;
}

.dealer-hand,
.player-hand {
  margin: 20px;
}

.player-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%; /* Adjust this to control the amount of space */
}

.player-chips-bet {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 50px; /* Creates a gap of 50px to the left of player's hand */
}

.player-chips-bet > * {
  margin-bottom: 20px; /* Creates a gap of 20px between the BlackjackChips and BettingForm */
}

.player-buttons {
  margin-right: 50px; /* Creates a gap of 50px to the right of player's hand */
}

.dealer-hand {
  margin-bottom: 50px;
}

.player-hand {
  margin-top: 100px;
}
.game-message {
  font-family: "Papyrus", "Arial", sans-serif; /* Substitute with any fancy font you like */
  font-size: 2em; /* Adjust size as needed */
  color: gold;
  text-shadow: 2px 2px 4px #000000;
  text-align: center;
  padding: 10px;
}
